body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    width: 100%;
    padding: 32px 0px 38px 0px;
}

#logo {
    width: 70px;
    height: 33px;
    background-color: #50A3A2;
    color: white;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
    padding: 3px;
}

#search_box {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    height: 35px;
    border-radius: 4px;
}

#search_bar {
    width: 88%;
    border: 0;
}

#search_icon {
    height: 100%;
    font-size: larger;
    align-self: center;
    background-color: white;
    color: black;
}

#logout_icon {
    color: white;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logout_text {
    font-size: medium;
    margin-top: 6px;
    text-decoration: none;
    color: white;
}

#box {
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    margin: 60px 80px 10px;
}

#profile_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.profile {
    background-color: white;
    width: 22%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 70px;
}

img {
    width: 100%;
    margin-bottom: 40px;
}

.profile_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    font-size: larger;
}

.name,
.branch {
    margin-bottom: 15px;
}

.college {
    margin-bottom: 40px;
}

.contact_links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.sub_links {
    font-size: xx-large;
    padding: 10px;
    color: #333333;
}

button {
    height: 60px;
    border-radius: 5PX;
    color: white;
    align-items: center;
    border: 0px;
    font-size: larger;
    background-color: #333333;
}

button:hover {
    background-color: #50A3A2;
    padding: 5px;
    font-size: x-large;
}

#user_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px;
}

#user_profile_box {
    flex-direction: column;
    display: flex;
    background-color: white;
    width: 25%;
    height: 656px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 30px 25px 0px;
}

#user_img {
    width: 100%;
}

#user_name {
    text-align: center;
    font-size: xx-large;
    margin: 30px auto 20px;
    padding-bottom: 20px;
}

#user_contact_links {
    padding: 30px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user_sub_links {
    font-size: xx-large;
    padding: 20px;
    color: black;
}

#user_main_content {
    display: flex;
    flex-direction: column;
    width: 58%;
    background-color: white;
    padding: 50px 40px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#user_designation {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: 500;
}

#user_desc_head {
    margin: 30px 0px 20px;
    font-size: x-large;
}

#user_desc_text {
    font-size: large;
    color: #666666;
    margin: 10px 0px 50px;
}

.user_skill_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* margin-bottom: 30px; */
}

.user_skill_button {
    background-color: #2222;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 15px 25px;
    font-size: large;
    border-radius: 3px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

#user_project_box {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

video {
    height: 400px;
    width: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 0.5px solid #3333;
}

#user_project_details {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 150%;
}

#user_project_head {
    font-size: x-large;
    margin-bottom: 20px;
}

#user_project_description {
    color: #666666;
}

#user_button_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    height: 150px;
}

.user_btn {
    font-size: larger;
    background-color: #50A3A2;
    color: white;
    border: 0;
    padding: 20px;
    width: 40%;
    border-radius: 8px;
    height: 60px;
}

.user_btn:hover {
    font-size: x-large;
    height: 65px;
    cursor: pointer;
}

@media only screen and (max-width: 1110px) {
    .user_sub_links {
        padding: 10px;
    }
    .user_skill_button {
        padding: 20px;
    }
}

@media only screen and (max-width: 980px) {
    #user_profile_box {
        margin-right: 20px;
    }
    #user_name {
        font-size: x-large;
    }
    .user_skill_button {
        padding: 20px 10px;
    }
}

@media only screen and (max-width: 880px) {
    #user_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px;
    }
    #profile_box {
        width: 86%;
        margin-bottom: 50px;
        margin-right: 0;
    }
    #user_main_content {
        width: 85%;
        align-items: center;
        padding: 50px 25px 0px;
    }
    #user_skillDisplay_box {
        text-align: center;
        width: 55%;
    }
    .user_skill_box {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .user_skill_button {
        margin-bottom: 25px;
    }
    #user_project_box {
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }
    video {
        margin-bottom: 40px;
    }
    #user_project_details {
        width: 100%;
        margin: 0;
    }
    #user_project_head {
        font-size: x-large;
    }
    #user_button_box {
        flex-direction: column;
        margin: 30px 0px 60px;
    }
    .user_btn {
        width: 100%;
    }
}


/* 
@media only screen and (max-width:1110px) {
    #content {
        flex-direction: row;
        justify-content: space-between;
    }
    .profile_box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .profile {
        background-color: white;
        width: 100%;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width:650px) {
    #content {
        flex-direction: column;
        margin: 80px 35px 0px;
    }
} */